<?xml version="1.0" encoding="utf-8"?>

<manifest android:versionCode="40030"
        android:versionName="1.1.40030"
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.gk969.UltimateImgSpider">

    <!-- <original-package android:name="com.UltimateImgSpider" /> -->

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <supports-screens android:smallScreens="false"
            android:normalScreens="true" android:largeScreens="true"
            android:anyDensity="true" />

    <application 
        	android:name="com.gk969.gallery.gallery3d.app.GalleryAppImpl"
        	android:icon="@mipmap/ic_launcher_gallery" 
        	android:label="@string/app_name"
            android:theme="@style/Theme.Gallery"
            android:logo="@mipmap/ic_launcher_gallery"
        	android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:restoreAnyVersion="true">
        <uses-library android:name="com.google.android.media.effects" android:required="false" />
        
        <activity android:name="com.gk969.gallery.gallery3d.app.GalleryActivity" android:label="@string/app_name"
                android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>
        </activity>

        <activity android:name="com.gk969.gallery.gallery3d.app.Wallpaper"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/android:Theme.Translucent.NoTitleBar">
            <intent-filter android:label="@string/camera_setas_wallpaper">
                <action android:name="android.intent.action.ATTACH_DATA" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.wallpaper.preview"
                    android:resource="@xml/wallpaper_picker_preview" />
        </activity>

        <uses-library android:name="com.google.android.media.effects"
                android:required="false" />

        <activity android:name="com.gk969.gallery.gallery3d.app.DialogPicker"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/DialogPickerTheme"/>
        <activity android:name="com.gk969.gallery.gallery3d.app.AlbumPicker"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/DialogPickerTheme"/>

        <service android:name="com.gk969.gallery.gallery3d.app.PackagesMonitor$AsyncService"/>
        <service android:name="com.gk969.gallery.gallery3d.gadget.WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name="com.gk969.gallery.gallery3d.app.BatchService" />

    </application>
</manifest>
